<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="index.html">
      <img
        src="{{ url_for('static', filename='images/adoPet2.png') }}"
        alt="AdoPetLogo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
              href="#" 
              id="navbarDropdown" 
              role="button" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false"
              >Mascotas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Perros</a>
              <a class="dropdown-item" href="#">Gatos</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Otras</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
              href="#" id="navbarDropdown" 
              role="button" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false"
              >Informes de Adopcion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Adopta un perro</a>
              <a class="dropdown-item" href="#">Adopta un gato</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Adopta otros</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Historias Pet </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
              href="#" id="navbarDropdown" 
              role="button" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false"
              >Consejos y Cuidados
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Alimentación Canina</a>
              <a class="dropdown-item" href="#">Entrenamiento básico en perros</a>
              <a class="dropdown-item" href="#">Cuidados básicos para perros</a>
              <a class="dropdown-item" href="#">Alimentación Gatuna</a>
              <a class="dropdown-item" href="#">Cuidados básicos para gatos</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
              href="#" id="navbarDropdown" 
              role="button" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false"
              >Involúcrate
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Donaciones</a>
              <a class="dropdown-item" href="#">Quiero ser casa puente</a>
              
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
              href="#" 
              id="navbarDropdown" 
              role="button" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false"
              >Nosotros y más
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">¿Quiénes somos?</a>
              <a class="dropdown-item" href="#">Directorio de entrenadores</a>
              <a class="dropdown-item" href="#">Preguntas frecuentes</a>
          </div>
        </li>
      </ul>
      <form class=" form-inline my-2 my-lg-0 actions justify-content-end">
          <button type="button" class="btn btn-secondary mr-1">Ingresa</button>
          <button type="button" class="btn btn-success mr-1"> Regístrate</button>
      </form>
    </div>
  </nav>