{% extends 'base.html' %}

{% block content %}
    <!-- Welcome to website -->
    <br>
    <br>
    <br>
    <form id="form">
      <label for="filter">Escribe la raza del animal (perro, gato, etc)</label>
      <input type="text" id="filter" name="filter">
      <input type="submit" value="Buscar">
    </form>

    <section class="pets-and-info">
        
    </section>
    

      <footer class="footer" id="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul>  
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
              <p>&copy; 2020 - eros90</p>
            </div>
          </div>
        </div>
      </footer>



  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='scripts/adopDogs.js') }}"></script>
{% endblock content %}